@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo {
    float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    background-color:#8B53FF;
    height: 70px;
    width: 100%;
    text-align:center;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: white;
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }

  .mySlides {
    display: none
  }

  .slideshow-container img{
    object-fit: cover;
  }
  .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
      margin-bottom: 0%;
    }
    
    
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    .dot {
    position: relative;
    top: 390px;
    right: 100px;
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      margin-top: 0%;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }

    .wrapper {
        top: 130px;
        max-width: 1400px;
        display:inline-block;
        width: 200%;
        position: relative;
      }
      .wrapper i {
        top: 50%;
        height: 50px;
        width: 50px;
        cursor: pointer;
        font-size: 1.25rem;
        position: absolute;
        text-align:center;
        line-height: 50px;
        background: #8B53FF;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.23);
        transform: translateY(-50%);
        transition: transform 0.1s linear;
      }
      .wrapper i:active{
        transform: translateY(-50%) scale(0.85);
      }
      .wrapper i:first-child{
        left: -22px;
      }

      .wrapper i:last-child{
        right: -22px;
      }
      .wrapper .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;
      }
      .carousel::-webkit-scrollbar {
        display: none;
      }
      .carousel.no-transition {
        scroll-behavior: auto;
      }
      .carousel.dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;
      }
      .carousel.dragging .card {
        cursor: grab;
        user-select: none;
      }
      .carousel :where(.card, .img) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .carousel .card {
        scroll-snap-align: start;
        height: 342px;
        list-style: none;
        background: white;
        cursor: pointer;
        padding-bottom: 15px;
        flex-direction: column;
        border-radius: 8px;
      }
      .carousel .card .img {
        position: relative;
        left: 150px;
        top: 25px;
        background: #8B53FF;
        height: 148px;
        width: 148px;
        border-radius: 50%;
      }
      .card .img img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #fff;
      }
      .carousel .card h2 {
        font-weight: 500;
        font-size: 1.56rem;
        margin: 30px 0 5px;
      }
      .carousel .card span {
        color: #6A6D78;
        font-size: 1.31rem;
      }
      @media screen and (max-width: 900px) {
        .wrapper .carousel {
          grid-auto-columns: calc((100% / 2) - 9px);
        }
      }
      @media screen and (max-width: 600px) {
        .wrapper .carousel {
          grid-auto-columns: 100%;
        }
      }

      footer{
        background-color: #111;
        padding-top: 200px;
    }
    .footerContainder{
        width: 100%;
        padding: 70px 30px 20px;
    }

    .socialIcons{
        display: flex;
        justify-content:center;
    }

    .socialIcons a{
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }

    .socialIcons a i{
        font-size: 2em;
        color: black;
        opacity: 0.9;
    }

     .socialIcons a:hover{
        background-color: #111;
        transition: 0.5s;
     }     
     
     .socialIcons a:hover i{
        color: white;
        transition: 0.5s;
     }

     .footerNav{
        margin: 30px 0;
     }

     .footerNav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
     }
     .footerNav ul li a{
        color: white;
        margin: 20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
     }

     .footerNav ul li a:hover{
        opacity: 1;
     } 

     .footerBottom{
        background-color: #111;
        padding: 20px;
        text-align: center;
     }

     .footerBottom p{
        color: white;
     }
     .designer{
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
        
     }

      
